<div style="background:white" class="p-3">
<h1>More Information</h1>
<p>Active Record associations let you easily declare the relationship between two models. In the case of comments and articles, you could write out the relationships this way:
Each comment belongs to one article.
One article can have many comments.
In fact, this is very close to the syntax that Rails uses to declare this association. You've already seen the line of code inside the Comment model (app/models/comment.rb) that makes each comment belong to an Article</p>
</div>
